@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Source+Sans+Pro:wght@300;700&display=swap');

:root {
  --body-font: 'Source Sans Pro';
  --title-font: 'DM Serif Text';
  /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; */
  font-family: var(--body-font), sans-serif;
  font-size: 20px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


h1,h2,h3,h4 {
  /* font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
  font-family: var(--title-font), serif;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  padding: 2rem;
  /* background: #6c5bdf; */
  background: #40aec7;
}

img {
  display: block;
  width: 100%;
}

.slide-img {
  display: block;
  aspect-ratio: 3 / 2;
  width: 100%;
}

.btn-standard {
  all: unset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  background: #342e2a;
  color: white;
  font-weight: bold;
  padding: 25px;
  text-transform: uppercase;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  }