@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Source+Sans+Pro:wght@300;700&display=swap');

:root {
  --body-font: 'Source Sans Pro';
  --title-font: 'DM Serif Text';
  /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; */
  font-family: var(--body-font), sans-serif;
  font-size: 20px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.quiz-container {
  width: 600px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  overflow: hidden;
}
.quiz-slide-wrap {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: start;
  text-align: center;
}

.quiz-slide {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

.quiz-animation-enter-active,
.quiz-animation-leave-active {
  transition: opacity 0.4s linear;
}
.quiz-animation-enter-from,
.quiz-animation-leave-to {
  opacity: 0;
}
.quiz-animation-enter-to,
.quiz-animation-leave-from {
  opacity: 1;
}

.quiz-header {
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: 1.2rem;
  gap: 2rem;
  padding: 1.5rem 2rem;
  background: #423d3a;
}
.quiz-progress-bar {
  flex: 1 1 auto;
}
.quiz-progress {
  display: block;
  border-radius: 9px;
  width: 100%;
  height: 16px;
  border: none;
  overflow: hidden;
}
.quiz-progress::-webkit-progress-bar {
  background: #62605e;
  border-radius: 9px;
}
.quiz-progress::-webkit-progress-value {
  background: #ddd5cf;
  border-radius: 9px;
}
.quiz-progress::-moz-progress-bar {
  background: #ddd5cf;
  border-radius: 9px;
}

.slide-header {
  display: flow-root;
  background: #40aec7;
}

.quiz-slide-title {
  /* font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
  font-family: var(--title-font), serif;
  font-size: 2rem;
  font-weight: 400;
}

.quiz-slide-img {
  display: block;
  aspect-ratio: 3 / 2;
  width: 100%;
}

.quiz-btn-standard {
  all: unset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  background: #342e2a;
  color: white;
  font-weight: bold;
  padding: 25px;
  text-transform: uppercase;
}

.quiz-btn-standard:focus-visible {
  background: #766c55;
}

.quiz-answer-btn {
  display: block;
  width: 100%;
  background: #413d3a;
  color: white;
  border: 1px solid transparent;
  padding: 1rem 4rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}

.quiz-answer-btn + .quiz-answer-btn {
  border-top: 1px solid #5e5c59;
}

.quiz-answer-btn:where(:not(:disabled):hover),
.quiz-answer-btn:focus,
.quiz-answer-btn:focus-visible {
  background: #356f7c;
}
.quiz-answer-btn.selected {
  background: #40aec7;
}
.quiz-answer-btn.correct {
  background: #4d7e55;
}
.quiz-answer-btn.incorrect {
  background: #934343;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}